from importlib.metadata import PackageNotFoundError, version

__author__ = """{{author_name}}"""
__email__ = "{{author_email}}"
try:
    __version__ = version("{{project_name}}")
except PackageNotFoundError:
    __version__ = "0.0.0+dev"
