import structlog

from {{project_name}} import __version__
from {{project_name}}.log_config import configure_logging


def main():
    """Entrypoint for {{project_name}}."""
    configure_logging()
    logger = structlog.get_logger()
    logger.info("{{project_name}}", version=f"v{__version__}")


if __name__ == "__main__":  # pragma: no cover
    main()
