from importlib.metadata import version

import structlog

from {{project_name}}.log_config import configure_logging

configure_logging()


def main():
    """Entrypoint for {{project_name}}."""
    logger = structlog.get_logger()
    logger.info("{{project_name}}", version=f"v{version('{{project_name}}')}")


if __name__ == "__main__":  # pragma: no cover
    main()
